.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

/* Disable the accuracy and units given field of math questions by default */
.item-accuracy_degree, .item-units_given {
    display:none;
}
